__pycache__
.idea
back_apps/back/.idea
back_apps/back_users/.idea
backup_db/connect_web.ini
backup_db/.idea
backup_db/env
back_apps/back/env
telegram_bots/config.json
telegram_bots/bot_venv
back_apps/back/migrations
back_apps/back/old_version
env
back_apps/migrations
gunicorn
back_apps/conf_back.ini
docker_doc/pg_db